@keyframes swing {
  0% {
    transform: translateX(0%); }
  50% {
    transform: translateX(2%); }
  100% {
    transform: translateX(0%); } }

@keyframes fly {
  0% {
    opacity: 0.5; }
  90% {
    opacity: 100%; }
  100% {
    opacity: 0; } }

@keyframes fly1 {
  0% {
    opacity: 0.1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 100%; } }

.primary__heading {
  font-family: "Contrail One", cursive;
  color: #e4572e;
  font-size: 8rem;
  text-transform: uppercase;
  text-align: center; }
  @media screen and (min-width: 50em) {
    .primary__heading {
      font-size: 12rem; } }
  @media screen and (min-width: 69em) {
    .primary__heading {
      font-size: 16rem; } }
  @media screen and (min-width: 87em) {
    .primary__heading {
      font-size: 20rem; } }

.secondary__heading {
  font-family: "Contrail One", cursive;
  color: #2a345c;
  font-size: 2.6rem;
  text-transform: uppercase; }

.tertiary__heading {
  font-family: "Contrail One", cursive;
  color: #2a345c;
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-top: 1rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*   scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  } */ }

html,
body {
  height: 100%;
  background-color: #2a345c;
  font-family: "Barlow Condensed", sans-serif; }

img {
  max-width: 100%;
  height: auto; }

.btn__primary {
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: #e4572e;
  color: #091544;
  display: inline-block;
  margin-left: auto;
  border-radius: 5px;
  font-size: inherit; }

.btn__primary--dark {
  background-color: #091544;
  color: #e4572e; }

.btn__primary--light {
  background-color: #f3a713;
  color: #091544; }

.navigation {
  font-size: 2.4rem; }
  .navigation__logo {
    width: 80px;
    margin: 0 0.5rem; }
  .navigation__nav {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center; }
  .navigation__link {
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem; }
    .navigation__link, .navigation__link:visited {
      color: #2a345c; }
    .navigation__link:focus, .navigation__link:hover {
      text-decoration: underline; }
    .navigation__link:active {
      color: #e4572e; }
  .navigation__menu {
    transition: all 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
    background-color: #f3a713; }
    .navigation__menu--active {
      padding: 2rem;
      max-height: 50%;
      overflow: hidden; }
  .navigation__list {
    text-align: center;
    list-style-type: none;
    padding: 0; }
  .navigation__button {
    position: relative;
    background-color: transparent;
    border: none;
    margin-right: 2rem; }
  .navigation__button--active .navigation__icon {
    background-color: transparent; }
  .navigation__button--active .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__button--active .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    display: inline-block;
    width: 4rem;
    height: 5px;
    background-color: #f3a713;
    transition: all 0.2s;
    border-radius: 1rem; }
  .navigation__icon:before, .navigation__icon:after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem; }

.header {
  position: relative; }
  .header__wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 150%;
    vertical-align: middle;
    overflow: hidden; }
    @media screen and (min-width: 31.25em) {
      .header__wrapper {
        padding-bottom: 62.5%; } }
  .header__image, .header__image--big {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
    @media screen and (min-width: 31.25em) {
      .header__image, .header__image--big {
        display: none; } }
  .header__image--big {
    display: none; }
    @media screen and (min-width: 31.25em) {
      .header__image--big {
        display: block; } }
  .header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media screen and (min-width: 31.25em) {
      .header__title {
        top: 30%; } }
  .header__sub {
    color: #e4572e;
    font-family: "Sonsie One", cursive;
    font-size: 2rem;
    text-align: center; }
    @media screen and (min-width: 50em) {
      .header__sub {
        font-size: 4rem; } }

#cloudleftup {
  animation: 3s linear infinite swing; }

#cloudleftdown {
  animation: 3s linear 1s infinite reverse swing; }

#littlebird {
  opacity: 0;
  animation: 1s linear 0.5s fly; }

#mediumbird {
  opacity: 0;
  animation: 1s linear 1.5s fly; }

#bigbird {
  opacity: 0;
  animation: 1s linear 2.5s fly; }

#biggerbird {
  opacity: 0;
  animation: 1s linear 3.5s fly1 forwards; }

.about {
  background-color: #e4572e;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 2rem 1rem; }
  @media screen and (min-width: 31.25em) {
    .about__wrapper {
      max-width: 80%;
      margin: auto; } }
  .about__content {
    font-size: 2rem;
    color: #fff;
    border-left: 8px solid #2a345c;
    padding: 1rem; }
  .about__text {
    color: #091544;
    margin-top: 2rem; }
    @media screen and (min-width: 75em) {
      .about__text {
        -webkit-column-count: 3;
        /* Old Chrome, Safari and Opera */
        -moz-column-count: 3;
        /* Old Firefox */
        column-count: 3; } }
  .about__image {
    width: 280px;
    margin: auto; }

.features {
  color: #091544;
  font-size: 2rem;
  margin: 4rem 0; }
  @media screen and (min-width: 31.25em) {
    .features {
      max-width: 80%;
      margin: 4rem auto; } }
  .features__box {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem; }
  .features__content {
    margin-bottom: 1rem;
    padding: 2rem 1rem;
    flex: 1;
    overflow: hidden; }
    @media screen and (min-width: 31.25em) {
      .features__content {
        max-width: 60%;
        border-radius: 10px; } }
    .features__content::before {
      content: "";
      display: block;
      width: 100%;
      height: 8px;
      transform: translateX(-2rem);
      background-color: #2a345c; }
  .features__content, .features__motto {
    background-color: #e4572e; }
  .features__content--light, .features__motto--light {
    background-color: #f3a713; }
  .features__content--light {
    /*  border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */ }
    .features__content--light::before {
      background-color: #e4572e; }
  .features__content--lightborder::before {
    background-color: #f3a713; }
  .features__content--darkboder::before {
    background-color: #2a345c; }
  .features__motto {
    text-transform: uppercase;
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
    flex: 100%;
    column-width: 80%;
    /*     border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */ }
    @media screen and (min-width: 31.25em) {
      .features__motto {
        max-width: 20%;
        border-radius: 10px; } }
  .features__text {
    margin: 1rem 0;
    column-width: 250px; }
  .features__logo {
    max-width: 15rem; }
  .features__logo--seed {
    max-width: 8rem; }
  .features__box--reverse .features__motto {
    order: -1;
    margin-bottom: 2rem; }

.blog {
  display: flex;
  flex-flow: wrap;
  font-size: 2rem;
  margin: 4rem 0;
  justify-content: space-evenly; }
  @media screen and (min-width: 31.25em) {
    .blog {
      max-width: 80%;
      margin: 4rem auto; } }
  .blog__post {
    background-color: #e4572e;
    color: #091544;
    margin: 1rem;
    border-radius: 10px;
    padding: 3rem 1rem;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    @media screen and (min-width: 44em) {
      .blog__post {
        margin: 1rem 0.5rem;
        max-width: 40%; } }
    .blog__post::before, .blog__post::after {
      content: "";
      display: block;
      width: 60%;
      height: 8px;
      background-color: #f3a713;
      position: absolute; }
    .blog__post::before {
      left: 0;
      top: 1rem;
      border-radius: 0 10px 10px 0; }
    .blog__post::after {
      right: 0;
      top: 2rem;
      border-radius: 10px 0 0 10px; }
  .blog__text {
    font-size: inherit; }
  .blog__btn {
    margin-top: auto; }
