// About
.about {
  background-color: $cinnabar;
  @include flex-col;
  padding: 2rem 1rem;

  &__wrapper {
    @media screen and (min-width: 31.25em) {
      max-width: 80%;
      margin: auto;
    }
  }

  &__content {
    font-size: 2rem;
    color: $white;
    border-left: 8px solid $rhino;
    padding: 1rem;
  }

  &__text {
    color: $rhino-dark;
    margin-top: 2rem;

    @media screen and (min-width: 75em) {
      -webkit-column-count: 3; /* Old Chrome, Safari and Opera */
      -moz-column-count: 3; /* Old Firefox */
      column-count: 3;
    }
  }

  &__image {
    width: 280px;
    margin: auto;
  }
}
