// FEATURES
.features {
  background-color: $cinnabar;
  @include flex-col;
  padding: 2rem 1rem;

  &__content {
    font-size: 2rem;
    color: $white;
    border-left: 8px solid $rhino;
    padding: 1rem;
  }

  &__text {
    color: $rhino-dark;
    margin-top: 2rem;
  }

  &__image {
    display: inline-block;
    position: relative;
    width: 300px;
    padding-bottom: 180px;
    vertical-align: middle;
    overflow: hidden;
  }

  &__trees {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}
