// TIPOGRAPHY
.primary__heading {
  font-family: "Contrail One", cursive;
  color: $cinnabar;
  font-size: 8rem;
  text-transform: uppercase;
}

.secondary__heading {
  font-family: "Contrail One", cursive;
  color: $rhino;
  font-size: 2.6rem;
  text-transform: uppercase;
}
